# Node
node_modules
npm-debug.log
.yarn
.next
.expo
mobile/assets/
mobile/android/app/*.keystore
mobile/android/app/*.jks
mobile/android/keystore.properties

# Python
__pycache__/
*.py[cod]
.venv
.env

# OS
.DS_Store
Thumbs.db

# Local media assets
surgery-bg.mp4

# Unity (basic)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
UserSettings/
*.unitypackage
